#infoArea {
    -fx-background-color: black; 
    -fx-border-color: seagreen; 
    -fx-padding: 5;
    -fx-font-size: 15pt;
}
#infoArea .text {
    -fx-fill: silver;
}

#infoArea .keyword {
    -fx-fill: seagreen;
}

#codeArea {
    -fx-background-color: black; 
    -fx-border-color: seagreen; 
    -fx-padding: 5;
    -fx-font-size: 15pt;
}
#codeArea .text {
    -fx-fill: white;
}
#codeArea .caret {
    -fx-stroke: white;
}
/*
.text-input {
    -fx-fill: white;
}
*/
#codeArea .keyword {
    -fx-fill: seagreen;
    -fx-font-weight: bold;
}
#codeArea .type {
    -fx-fill: lightseagreen;
    -fx-font-weight: bold;
}
#codeArea .semicolon {
    -fx-fill: salmon;
    -fx-font-weight: bold;
}
#codeArea .paren {
    -fx-fill: salmon;
    -fx-font-weight: bold;
}
#codeArea .string {
    -fx-fill: royalblue;
}
#codeArea .comment {
	-fx-fill: silver;
}
#codeArea .prompt {
	-fx-fill: silver;
}
#codeArea .dbname {
    -fx-fill: white;
    -fx-font-style: italic;
}
/*
.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc; 
}
*/
